<footer id="footer" class="footer">
    <div class="copyright">
        <span>© <a href="https://akatouxin.github.io/about/" target="_blank"><%= config.author %></a> | <a href="https://github.com/akatouXin" target="_blank">人若无名，则潜心练剑.</a></span>
    </div>
</footer>
